{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test-Site</title>
    {% block styles %} <link rel="stylesheet" type="text/css" href={% static 'styles.css' %} /> {% endblock %}
</head>
<body>
<h1>Test-Site</h1>
    <table>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
        </tr>
        <tr>
            <td>Hallo</td>
            <td>Welt</td>

        </tr>
    </table>

{% block paragraph %}<h1>Placeholder</h1>{% endblock %}
<form>
    <label>Username</label><br>
    <input type="text"><br>
    <input type="submit" value="create">
</form>

<div>

</div>


</body>
</html>